body {
    background-color: rgb(235, 244, 244);
}

section {
    background-color: aliceblue;
}

div {
    background-color: azure;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
    text-align: center;
    width: 300px;
  border: 15px solid lightgreen;
  padding: 50px;
  margin: 20px;
}

footer {
    text-align: center;
    background-color: rgb(121, 25, 25);
    color: white;
}

.bottom {
    color: rgb(226, 223, 233);
}