.body {
  border : 10px dashed Blue ;
  padding : 5px ;
  width : 500px ;
  color : Red ;
   background : Yellow ;
}

.footer {

}

.footer {
    
}

.head {

}

.header {

}

.images {
    width: 125px;
    height: 125px;
    background-color: #00aa55;
}
