.body {
    background-color: whitesmoke;
}

.images {
    justify-content: center;
    box-shadow: 1px 3px 15px;
    border: 4.5px solid black;
    border-radius: 15%;
    background-color: #a593c2;
}

.footer {
    color: red;
}
